body{
    width:100%;
    padding-left: 5%;
    padding-right: 5%;
    min-width:600px;
    max-width:2000px
}

td{
padding-left: 10%;

}
.text
{
text-align: center;
color: rgb(228, 0, 125);
font-size: 55px;
text-shadow: rgb(65, 65, 65) 0px 3px 3px;
margin-top: 2%;
margin-bottom: 1%;
}

#reg{
    margin-top: 1%;
    text-align: center;
    color: #787878;
    
}

#image1 {
    position: relative;
    float: left;
    width: 80px; 
    height: 80px;
}
#image2 {
    position: relative;
    float: right;
    width: 80px; 
    height: 80px;
}
hr{
  background-color: #787878;
  height: 3px;
  width: 50%;
}